{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
  {% endfor %}

  {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
  {% endfor %}

  {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
  {% endfor %}

  <script src="{{ SITEURL }}/theme/js/jquery-1.11.0.min.js"></script>
  
  <link href="{{ SITEURL }}/theme/css/lightbox.css" rel="stylesheet" />
  <script src="{{ SITEURL }}/theme/js/lightbox.min.js"></script>
{% endblock %}

{% block title %}{{ SITENAME }} &middot; {{ article.title }}{% endblock %}
{% block content %}
{% include "article_full.html" %}
{% include "disqus_script.html" %}
{% endblock %}
